body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	background-color: black;
	box-sizing: border-box;
}

.roof {
	width: 0;
	height: 0;
	margin: 0 auto;
	border-bottom: 10rem solid rgb(239, 132, 9);
	border-top: 150px solid transparent;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	position: relative;
	align-items: center;
	justify-content: center;
}
/* .chimney {
	height: 5rem;
	width: 2rem;
	background-color: rgb(239, 132, 9);
	position: absolute;
} */
.walls {
	width: 250px;
	height: 200px;
	margin: 0 auto;
	background-color: rgb(239, 132, 9);
	position: relative;
	/* align-items: center;
	justify-content: center; */
}
.door {
	width: 40px;
	height: 70px;
	margin-top: 8rem;
	margin-left: 6rem;
	background-color: rgba(241, 91, 22, 0.895);

	position: fixed;
}
.knob {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	/* margin: 0 auto; */
	position: relative;

	transform: translateX(0.5rem) translateY(2rem);
	background-color: black;
}
.windows {
	display: flex;
	position: relative;
	gap: 5px;
	row-gap: 10px;
	column-gap: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	float: left;
	justify-content: space-between;
}
.window {
	width: 30px;
	height: 30px;
	background-color: black;
	border: 7px solid rgb(239, 132, 9);
}
